body{
    margin-top: 2%;
    margin-left:4%;
    margin-right:8%;
    margin-bottom:2%;
}
select{
    width: 100px;
}
.key{
    width:48%;
}
.value{
    width:48%;
}

#newRequestBtn{
    float: right;
}
.hide{
    display: none;
}

#urlPreview{
    font-size: large;
}

#headerPreview{
    font-size: large;
}
#responseOutput{
    width: 95%;
    height:120%;
}
#httpMethod{
    font-weight: bold;
    font-size: large;
}
#helpBlock2{
    font-color:red;
    font-weight: bold;
}